        @tailwind base;
        @tailwind components;
        @tailwind utilities;
        .login-btn {
            box-shadow: 0px 0px 8px 5px rgba(200, 55, 141, 0.8);
            animation: animate-shadow 2s linear infinite;
            transition: all 0.35s ease;
            -webkit-transition: all 0.35s ease;
            -moz-transition: all 0.35s ease;
            -ms-transition: all 0.35s ease;
            -o-transition: all 0.35s ease;
            -webkit-animation: animate-shadow 2s ease-in infinite;
            border: solid 2px solid rgb(37, 99, 235, 0.5);
            text-transform: uppercase;
        }
        
        .login-btn:hover {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
        }
        
        .login-btn:active {
            transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
        }
        
        .animate-login-btn {
            animation: connect-animate 0.5s ease infinite alternate;
            -webkit-animation: connect-animate 0.5s ease infinite alternate;
            background: linear-gradient(to right, rgb(96, 165, 250), rgb(29, 78, 216));
            background-size: 200%;
        }
        
        @keyframes connect-animate {
            0% {
                background-position: left;
            }
            100% {
                background-position: right;
            }
        }
        
        .profil-image {
            border: 2px solid rgba(200, 55, 141, 0.8) !important;
        }
        
        @keyframes animate-shadow {
            50% {
                box-shadow: 0px 0px 12px 5px rgba(37, 99, 235, 0.5);
            }
        }
        
        .title-container {
            position: relative;
            width: 100%;
        }
        
        .title-login {
            font-weight: 900;
            text-transform: uppercase;
            font-style: italic;
            color: rgba(200, 55, 141, 0);
            font-size: 2em;
            padding: 1em 0;
            background-image: linear-gradient(to left, rgb(99, 102, 241), rgb(236, 72, 153));
            background-clip: text;
            color: transparent;
            background-size: 200%;
            animation: title-animate 1s infinite alternate;
            -webkit-animation: title-animate 1s infinite alternate;
        }
        
        @keyframes title-animate {
            0% {
                background-position: left;
                transform: scale(1);
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
            }
            100% {
                background-position: right;
                transform: scale(0.95);
                -webkit-transform: scale(0.95);
                -moz-transform: scale(0.95);
                -ms-transform: scale(0.95);
                -o-transform: scale(0.95);
            }
        }
        
        .container-header {
            overflow: hidden;
            width: 100%;
            height: 100;
        }
        
        .form {
            height: 20px;
            width: 20px;
            border: 2px solid rgba(255, 255, 255, 1);
            border-radius: 100%;
            position: absolute;
            z-index: -1;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%;
            background: radial-gradient(rgb(99, 102, 241), rgb(236, 72, 153));
        }
        
        .form:nth-of-type(1) {
            top: 10%;
            left: 5%;
            animation: background-form 5s linear infinite;
            -webkit-animation: background-form 5s linear infinite;
        }
        
        .form:nth-of-type(2) {
            top: 20%;
            left: 50%;
            animation: background-form 8s linear infinite;
            -webkit-animation: background-form 8s linear infinite;
        }
        
        .form:nth-of-type(3) {
            top: 50%;
            left: 10%;
            animation: background-form 8s linear infinite;
            -webkit-animation: background-form 8s linear infinite;
        }
        
        .form:nth-of-type(4) {
            top: 50%;
            left: 40%;
            animation: background-form 8s linear infinite;
            -webkit-animation: background-form 11s linear infinite;
        }
        
        .form:nth-of-type(5) {
            top: 40%;
            left: 60%;
            animation: background-form 8s linear infinite;
            -webkit-animation: background-form 7s linear infinite;
        }
        
        .form:nth-of-type(6) {
            top: 80%;
            left: 30%;
            animation: background-form 12s linear infinite;
            -webkit-animation: background-form 12s linear infinite;
        }
        
        .form:nth-of-type(7) {
            top: 50%;
            left: 80%;
            animation: background-form 13s linear infinite;
            -webkit-animation: background-form 13s linear infinite;
        }
        
        .form:nth-of-type(8) {
            top: 30%;
            left: 90%;
            animation: background-form 8s linear infinite;
            -webkit-animation: background-form 8s linear infinite;
        }
        
        .form:nth-of-type(9) {
            top: 80%;
            left: 90%;
            animation: background-form 13s linear infinite;
            -webkit-animation: background-form 13s linear infinite;
        }
        
        .form:nth-of-type(10) {
            top: 10%;
            left: 30%;
            animation: background-form 8s linear infinite;
            -webkit-animation: background-form 8s linear infinite;
        }
        
        .send-button {
            transition: all 0.35s ease;
            background: linear-gradient(to right, rgb(99, 102, 241), rgb(236, 72, 153));
            padding: 0.8rem;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%;
            background-size: 200%;
            animation: btn-bg-animation 1s linear infinite alternate;
            -webkit-animation: btn-bg-animation 1s linear infinite alternate;
            color: #111;
        }
        
        .send-button:active {
            transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
        }
        
        @keyframes btn-bg-animation {
            0% {
                background-position: left;
                box-shadow: 0px 0px 0px 0px rgba(200, 55, 141, 0.3);
            }
            100% {
                background-position: right;
                box-shadow: 0px 0px 5px 3px rgb(99, 102, 241);
            }
        }
        
        @keyframes background-form {
            0% {
                opacity: 1;
                transform: scale(0) translateY(0) rotate(0);
                -webkit-transform: scale(0) translateY(0) rotate(0);
                -moz-transform: scale(0) translateY(0) rotate(0);
                -ms-transform: scale(0) translateY(0) rotate(0);
                -o-transform: scale(0) translateY(0) rotate(0);
            }
            100% {
                opacity: 0;
                transform: scale(1.2) translateY(-90px) rotate(360deg);
                -webkit-transform: scale(1.2) translateY(-90px) rotate(360deg);
                -moz-transform: scale(1.2) translateY(-90px) rotate(360deg);
                -ms-transform: scale(1.2) translateY(-90px) rotate(360deg);
                -o-transform: scale(1.2) translateY(-90px) rotate(360deg);
            }
        }
        
        .change-username-btn,
        .message-user {
            transition: all 0.35s ease;
            background: linear-gradient(to right, rgb(249, 168, 212), rgb(190, 24, 93));
            cursor: default;
            background-size: 200%;
            animation: message-animation 1s linear infinite alternate;
            -webkit-animation: message-animation 1s linear infinite alternate;
        }
        
        .message-user:hover {
            font-weight: 700;
            box-shadow: 0px 0px 8px 1px rgba(200, 55, 141, 0.8);
        }
        
        .logout-btn,
        .messages {
            transition: all 0.35s ease;
            background: linear-gradient(to right, rgb(96, 165, 250), rgb(29, 78, 216));
            cursor: default;
            color: white;
            background-size: 200%;
            animation: message-animation 1s linear infinite alternate;
            -webkit-animation: message-animation 1s linear infinite alternate;
        }
        
        .messages:hover {
            font-weight: 700;
            box-shadow: 0px 0px 12px 1px rgba(29, 78, 216, 0.8);
        }
        
        @keyframes message-animation {
            0% {
                background-position: left;
            }
            100% {
                background-position: right;
            }
        }
        
        .sidebar-item {}
        
        @media screen and (max-width:550px) {}